*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(183, 219, 240);
    display: flex;
    align-items: center;
    justify-content: center;


}
.calculator{
    background-color: rgb(27, 24, 24);
    padding: 20px;
    border-radius: 10px;
}
.calculator form input{
    border: 0;
    border-radius: 10px;
    height: 60px;
    width: 60px;
    box-shadow: rgba(76, 83, 88, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.19) 0px 2px 6px 2px;
    background: transparent;
    font-size: 20px;
    cursor: pointer;
    color: whitesmoke;
    margin: 10px;
    outline: none;
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;

}
form input.equal{
    width: 145px;
    background-color:rgb(115, 125, 128) ;
    border: 0;
}
 form input.op{
  color: rgb(129, 54, 173);
}